*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nameCard{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.nameCard ul{
    display: flex;
    align-items: center;
}
.nameCard li{
    /* width: 200px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 5px;
    list-style: none;
}
